name: Test setup-quarkdown action installation, with defaults

on:
  workflow_dispatch:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install
        uses: quarkdown-labs/setup-quarkdown@main

      - name: Test
        run: |
          echo ".docname {test}" > main.qd
          
          quarkdown c main.qd -o ./output
          
          ls ./output
          
          if [ ! -d "./output/test" ]; then
            echo "Output directory not found" >&2
            exit 1
          fi
          
          quarkdown c main.qd -o ./output --pdf --pdf-no-sandbox
          
          ls ./output
          
          if [ ! -f "./output/test.pdf" ]; then
            echo "Output PDF not found" >&2
            exit 1
          fi
        shell: bash
